basicTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:simpleType name="updateModeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Inventory update mode</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="FULL"/>
			<xs:enumeration value="DIFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contentTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Inventory content type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation xml:lang="en">CBU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation xml:lang="en">Donor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation xml:lang="en">Both</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Issuing Organisation Number (ION) allocated by ICBBA (e.g.  7748 ~ ABMDR)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:short">
			<xs:minInclusive value="1000"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sexType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Sex</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation xml:lang="en">Male</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation xml:lang="en">Female</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="aboType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Blood group</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation xml:lang="en">Blood group A</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation xml:lang="en">Blood group B</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation xml:lang="en">Blood group O (letter O!)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AB">
				<xs:annotation>
					<xs:documentation xml:lang="en">Blood group AB</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rhesusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Rhesus</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation xml:lang="en">Positive</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation xml:lang="en">Negative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ethnType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Ethnic group</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AFNA">
				<xs:annotation>
					<xs:documentation xml:lang="en">African: North Africa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AFSS">
				<xs:annotation>
					<xs:documentation xml:lang="en">African: Sub-Saharan Africa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSW">
				<xs:annotation>
					<xs:documentation xml:lang="en">Asian: Southwest Asia (Middle East, Turkey)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSO">
				<xs:annotation>
					<xs:documentation xml:lang="en">Asian: Southern Asia (India, Pakistan, Bangladesh, Sri Lanka, Bhutan, Nepal)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASCE">
				<xs:annotation>
					<xs:documentation xml:lang="en">Asian: Central Asia (Eastern Russia, Kazakhstan, Uzbekistan, Kyrgyzstan, Tajikistan)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASSE">
				<xs:annotation>
					<xs:documentation xml:lang="en">Asian: Southeast Asia (China, Mongolia, Burma, Laos, Cambodia, Thailand, Vietnam, Taiwan)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASNE">
				<xs:annotation>
					<xs:documentation xml:lang="en">Asian: North and Northeast Asia (Japan, North Korea, South Korea)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASOC">
				<xs:annotation>
					<xs:documentation xml:lang="en">Asian: Oceania (Pacific Islands excluding Japan, Australia, Taiwan, Sakhalin, Aleutian Islands)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAEU">
				<xs:annotation>
					<xs:documentation xml:lang="en">Caucasian: Mainland Europe, Greenland, Iceland, Western Russia)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAER">
				<xs:annotation>
					<xs:documentation xml:lang="en">Caucasian: Eastern Russia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANA">
				<xs:annotation>
					<xs:documentation xml:lang="en">Caucasian: North America (USA, Canada, Mexico)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAAU">
				<xs:annotation>
					<xs:documentation xml:lang="en">Caucasian: Australia (Australia, New Zealand)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HICA">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hispanic: Central America, Caribbean</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HISA">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hispanic: South America</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AF">
				<xs:annotation>
					<xs:documentation xml:lang="en">African: unspecific</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Asian: unspecific</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA">
				<xs:annotation>
					<xs:documentation xml:lang="en">Caucasian: unspecific</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hispanic: unspecific</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MX">
				<xs:annotation>
					<xs:documentation xml:lang="en">Mixed / multiple</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other (e.g. Australian Aborigine)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UK">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unknown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ccr5Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">CCR5 status</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DD">
				<xs:annotation>
					<xs:documentation xml:lang="en">Deletion (delta 32) - homozygous</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WW">
				<xs:annotation>
					<xs:documentation xml:lang="en">Wildtype - homozygous</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DW">
				<xs:annotation>
					<xs:documentation xml:lang="en">Deletion (delta 32) / wildtype - heterozygous</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="collTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation xml:lang="en">Marrow</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation xml:lang="en">PBSC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation xml:lang="en">Both</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="procMethType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Processing method</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="HES">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hydroxy-Ethyl-Starch</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DGS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Density Gradient Separation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CEN">
				<xs:annotation>
					<xs:documentation xml:lang="en">Centrifuge</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FIL">
				<xs:annotation>
					<xs:documentation xml:lang="en">Filtration</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FIC">
				<xs:annotation>
					<xs:documentation xml:lang="en">FICOL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PER">
				<xs:annotation>
					<xs:documentation xml:lang="en">PERCOL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="procMethTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Processing method type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAN">
				<xs:annotation>
					<xs:documentation xml:lang="en">Manual</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPX">
				<xs:annotation>
					<xs:documentation xml:lang="en">Sepax</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTP">
				<xs:annotation>
					<xs:documentation xml:lang="en">Optipress II</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AXP">
				<xs:annotation>
					<xs:documentation xml:lang="en">AXP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="freezeMethType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Freezing method</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation xml:lang="en">Controlled rate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation xml:lang="en">Manual</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="prodModType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Product modification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BCE">
				<xs:annotation>
					<xs:documentation xml:lang="en">Buffy Coat Enriched</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DNE">
				<xs:annotation>
					<xs:documentation xml:lang="en">Density Enriched</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLR">
				<xs:annotation>
					<xs:documentation xml:lang="en">Plasma Reduced (Volume reduction only)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRR">
				<xs:annotation>
					<xs:documentation xml:lang="en">Plasma and RBC Reduced</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RBR">
				<xs:annotation>
					<xs:documentation xml:lang="en">RBC Reduced (depletion)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Not reduced</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bagTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of bag used (bag fractions / split unit)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="80/20"/>
			<xs:enumeration value="50/50"/>
			<xs:enumeration value="40/60"/>
			<xs:enumeration value="NS">
				<xs:annotation>
					<xs:documentation xml:lang="en">No split</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cultValueType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Culture value</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation xml:lang="en">Positive</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation xml:lang="en">Negative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation xml:lang="en">Not done</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hemoStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Hemoglobinopathy screening status</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DN">
				<xs:annotation>
					<xs:documentation xml:lang="en">Screening done, normal results</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DU">
				<xs:annotation>
					<xs:documentation xml:lang="en">Screening done, unusual findings</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NS">
				<xs:annotation>
					<xs:documentation xml:lang="en">No screening done</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CD">
				<xs:annotation>
					<xs:documentation xml:lang="en">Can be done at time of release</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NC">
				<xs:annotation>
					<xs:documentation xml:lang="en">Cannot be done</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Thalassemia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DD">
				<xs:annotation>
					<xs:documentation xml:lang="en">Drepanocytosis</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Status</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AV">
				<xs:annotation>
					<xs:documentation xml:lang="en">Available</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TU">
				<xs:annotation>
					<xs:documentation xml:lang="en">Temporarily unavailable, reason specified in STAT_REASON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Reserved for the patient specified in the RSV_PAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation xml:lang="en">Deleted; only applicable for update mode DIFF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statReasonDonType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Status reason (donor)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DO">
				<xs:annotation>
					<xs:documentation xml:lang="en">Donor is too old</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DD">
				<xs:annotation>
					<xs:documentation xml:lang="en">Donor died</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MR">
				<xs:annotation>
					<xs:documentation xml:lang="en">Medical reasons</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PR">
				<xs:annotation>
					<xs:documentation xml:lang="en">Personal reasons</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TX">
				<xs:annotation>
					<xs:documentation xml:lang="en">After transplantation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MO">
				<xs:annotation>
					<xs:documentation xml:lang="en">Donor moved</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UC">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unable to contact donor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TQ">
				<xs:annotation>
					<xs:documentation xml:lang="en">Typing questionable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other reasons</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UK">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unknown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statReasonCbuType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Status reason (CBU)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="QR">
				<xs:annotation>
					<xs:documentation xml:lang="en">Quarantined</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AD">
				<xs:annotation>
					<xs:documentation xml:lang="en">Administrative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CD">
				<xs:annotation>
					<xs:documentation xml:lang="en">CBU destroyed or damaged</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Distributed for infusion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XP">
				<xs:annotation>
					<xs:documentation xml:lang="en">Expired</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MR">
				<xs:annotation>
					<xs:documentation>Medical reasons</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other reasons</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UK">
				<xs:annotation>
					<xs:documentation xml:lang="en">Unknown</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idmValueType">
		<xs:annotation>
			<xs:documentation xml:lang="en">IDM result value set: P, N</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation xml:lang="en">Positive</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation xml:lang="en">Negative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idmValueExtType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Extended IDM result value set: P,G,M,B,H,O,N</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation xml:lang="en">IgG or IgM positive, test did not differentiate</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="G">
				<xs:annotation>
					<xs:documentation xml:lang="en">IgG positive, IgM negative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation xml:lang="en">IgG negative, IgM positive</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation xml:lang="en">IgG positive, IgM positive</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation xml:lang="en">IgG positive, IgM not tested</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation xml:lang="en">IgG negative, IgM negative</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation xml:lang="en">IgG negative, IgM not tested</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="viabilityCellsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Type of cells tested for viability</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TNC"/>
			<xs:enumeration value="CD34PC"/>
			<xs:enumeration value="CD45PC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="viabilityMethodType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Method used for viability test</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="7A">
				<xs:annotation>
					<xs:documentation xml:lang="en">7AAD</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PI">
				<xs:annotation>
					<xs:documentation xml:lang="en">Proprium Iodide</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TB">
				<xs:annotation>
					<xs:documentation xml:lang="en">Trypan Blue</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OT">
				<xs:annotation>
					<xs:documentation xml:lang="en">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ctSmplTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Confirmatory typing sample type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AS">
				<xs:annotation>
					<xs:documentation xml:lang="en">CBU contiguous attached segment</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WB">
				<xs:annotation>
					<xs:documentation xml:lang="en">Whole blood sample</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RC">
				<xs:annotation>
					<xs:documentation xml:lang="en">Red cell fraction (pellet)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FP">
				<xs:annotation>
					<xs:documentation xml:lang="en">Blood spotted filter paper</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ED">
				<xs:annotation>
					<xs:documentation xml:lang="en">Extracted DNA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kirLocusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">KIR locus type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="POS">
				<xs:annotation>
					<xs:documentation xml:lang="en">Presence of KIR gene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NEG">
				<xs:annotation>
					<xs:documentation xml:lang="en">Absence of KIR gene</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bareDateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Date without timezone information</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="[^:Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="idmType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Infectious disease markers (IDM) and other relevant tests</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CMV" type="idmValueExtType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">CMV status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CMV_NAT" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">CMV NAT status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CMV_DATE" type="bareDateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Date of CMV test</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HBS_AG" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hepatitis B status (hepatitis B surface antigen)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANTI_HBC" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hepatitis B status (antibody to hepatitis B core antigen)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANTI_HBS" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hepatitis B status (antibody to hepatitis B surface antigen)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANTI_HCV" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Hepatitis C status (antibody to hepatitis C virus)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANTI_HIV_12" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Anti-HIV 1/2 status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HIV_1_NAT" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">HIV-1 NAT status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HIV_P24" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">HIV p24 status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HCV_NAT" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">HCV NAT status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ANTI_HTLV" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Antibody to HTLV I/II</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SYPHILIS" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Syphilis status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WNV" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">WNV status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CHAGAS" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Chagas status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EBV" type="idmValueExtType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">EBV status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TOXO" type="idmValueExtType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Toxoplasmosis status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HBV_NAT" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">HBV NAT status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PB19_NAT" type="idmValueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">ParvoB19 NAT status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ALT" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Alanine aminotransferase status in units per litre</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:short">
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="kirType">
		<xs:annotation>
			<xs:documentation xml:lang="en">KIR genotype</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KIR2DL1" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DL1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DL2" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DL2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DL3" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DL3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DL4" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DL4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DL5A" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DL5A</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DL5B" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DL5B</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DS1" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DS1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DS2" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DS2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DS3" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DS3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DS4" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DS4</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DS5" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DS5</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR2DP1" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 2DP1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR3DL1" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 3DL1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR3DL2" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 3DL2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR3DL3" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 3DL3.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR3DS1" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 3DS1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR3DP1" type="kirLocusType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">KIR gene 3DP1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KIR_GL" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">URI that refers to a GL-string registered with a GL-service or direct GL-string for absence / presence. Field is not used at the moment and should therefore always be empty.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hlaSerFieldsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">HLA values obtained by serological typing methods</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIELD1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FIELD2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hlaDnaFieldsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">HLA values obtained by DNA based typing methods</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIELD1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FIELD2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hlaLocusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">HLA locus type comprising SER and DNA fields</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SER" type="hlaSerFieldsType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DNA" type="hlaDnaFieldsType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hlaLocusDnaOnlyType">
		<xs:annotation>
			<xs:documentation xml:lang="en">HLA locus type comprising DNA fields only</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="hlaLocusType">
				<xs:sequence>
					<xs:element name="SER" type="hlaSerFieldsType" minOccurs="0" maxOccurs="0"/>
					<xs:element name="DNA" type="hlaDnaFieldsType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="hlaType">
		<xs:annotation>
			<xs:documentation xml:lang="en">HLA genotype</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="A" type="hlaLocusType" minOccurs="0"/>
			<xs:element name="B" type="hlaLocusType" minOccurs="0"/>
			<xs:element name="C" type="hlaLocusType" minOccurs="0"/>
			<xs:element name="DRB1" type="hlaLocusType" minOccurs="0"/>
			<xs:element name="DRB3" type="hlaLocusDnaOnlyType" minOccurs="0"/>
			<xs:element name="DRB4" type="hlaLocusDnaOnlyType" minOccurs="0"/>
			<xs:element name="DRB5" type="hlaLocusDnaOnlyType" minOccurs="0"/>
			<xs:element name="DQA1" type="hlaLocusDnaOnlyType" minOccurs="0"/>
			<xs:element name="DQB1" type="hlaLocusType" minOccurs="0"/>
			<xs:element name="DPA1" type="hlaLocusDnaOnlyType" minOccurs="0"/>
			<xs:element name="DPB1" type="hlaLocusDnaOnlyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
