InventoriesStructure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"
           version="2.0">
    <xs:include schemaLocation="basicTypes_structure_only.xsd"/>
    <xs:complexType name="itemBaseType" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">Abstract base type of donor and CBU items</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ID">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Unique identifier of the donor/CBU: The value comprises the EMDIS
                        hub code + donor identification allocated by the associated donor registry, where the sending
                        organisation is an EMDIS member, otherwise the two digit ISO country code of the associated
                        donor registry + donor identification allocated by the associated donor registry. For example:
                        AU600196166, DEGOE-35487, US087013165, SB45
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GRID" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Global registration identifier of the donor/CBU.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ATTR" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Describing attribute of the donor/CBU according to house rules of
                        the sending organization.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BIRTH_DATE">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Date of birth of the donor/CBU.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SEX" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Biological gender of the donor/CBU. Mandatory for donors, optional
                        for CBUs.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ABO" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Blood group (ABO) of the donor/CBU.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RHESUS" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Rhesus (Rh) factor of the donor/CBU</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ETHN" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Ethnic group of the donor/CBU</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CCR5" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">CCR5 status of the donor/CBU</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HLA" type="hlaType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">HLA genotype of the donor/CBU</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KIR" type="kirType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">KIR genotype of the donor/CBU</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IDM" type="idmType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Infectious disease markers (IDM) and other relevant tests of the
                        donor/CBU
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RSV_PAT" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Unique identifier of the patient the donor/CBU is reserved for
                        (STATUS=RS). The value comprises the EMDIS patient identification, where the patient search
                        centre is an EMDIS member, otherwise the value is empty. For example: AU9654021, DE275342,
                        US2277450.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STATUS">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Status of the donor/CBU</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STAT_END_DATE" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Date until which the current status will be applicable
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="donItemType">
        <xs:annotation>
            <xs:documentation xml:lang="en">A donor is an adult person who has consented to donate haematopoietic
                progenitor cells to an unrelated patient.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="itemBaseType">
                <xs:sequence>
                    <xs:element name="STAT_REASON" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Additional information relevant to the donor status
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CONTACT_DATE" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Date of last confirmed contact</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CHECKUP_DATE" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Date of the last medical checkup</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="WEIGHT" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Weight in kg</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HEIGHT" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Height in cm</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NMBR_TRANS" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of blood transfusions</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NMBR_PREG" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of pregnancies</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NMBR_MARR" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of marrow donations</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="NMBR_PBSC" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of PBSC donations</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="COLL_TYPE" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Collection type, i.e. the willingness of the donor to donate
                                in a specific manner
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="cbuItemType">
        <xs:annotation>
            <xs:documentation xml:lang="en">A cord blood unit (CBU) is a banked, frozen blood product extracted from a
                newborn baby's umbilical cord.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="itemBaseType">
                <xs:sequence>
                    <xs:element name="STAT_REASON"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Additional information relevant to the CBU status
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LOCAL_ID" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Identification of CBU locally at the associated CBB
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BAG_ID" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Identification as it appears on the bag. If more than one
                                bag is available then this data attribute is not populated
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BANK_MANUF_ID" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Unique identifier of the CBB that manufactured the CBU: The
                                value comprises the EMDIS hub code + id allocated by the associated EMDIS hub, where the
                                cord registry is an EMDIS member, otherwise the two digit ISO country code of the
                                associated cord registry + id identification allocated by the associated cord registry.
                                For example: AUCBB1, SB890
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BANK_DISTRIB_ID" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Unique identifier of the CBB distributing the CBU: : The
                                value comprises the EMDIS hub code + id allocated by the associated EMDIS hub, where the
                                cord registry is an EMDIS member, otherwise the two digit ISO country code of the
                                associated cord registry + id identification allocated by the associated cord registry.
                                For example: AUCBB1, SB890
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="COLL_DATE"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Date that the CBU was collected</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PROC_DATE"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Date that the processing started</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PROC_METH"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Processing method used</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PROC_METH_TYPE"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Processing method type used</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FREEZE_DATE"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Date that the CBU was frozen.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FREEZE_METH"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Freezing method used</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PROD_MOD"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Product modifications made</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BAG_TYPE"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Type of bag used (bag fractions / split unit)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BAGS" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of bags for CBU sub units</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BACT_CULT"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Bacterial culture</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="FUNG_CULT"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Fungal culture</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HEMO_STATUS"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Hemoglobinopathy screening status</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VOL" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Collected volume before processing (without additives) in
                                ml
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VOL_FRZN" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total volume frozen (post processing, prior to
                                cryopreservation) in ml
                            </xs:documentation>
                        </xs:annotation>

                    </xs:element>
                    <xs:element name="TNC"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total number of nucleated cells (before processing)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="TNC_FRZN"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total number of nucleated cells (post processing, prior to
                                cryopreservation)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="RED_BC_FRZN" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total number of nucleated red blood cells (post processing,
                                prior to cryopreservation)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MNC_FRZN"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total Number of mononucleated cells (post processing, prior
                                to cryopreservation)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CD34PC"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total number of CD34+ cells (before processing)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CD34PC_FRZN"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total number of CD34+ cells (post processing, prior to
                                cryopreservation)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CFU_FRZN" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total count of colony forming units (post processing, prior
                                to cryopreservation)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VIABILITY" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Viability as percentage value</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VIABILITY_DATE"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Date that viability was tested</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VIABILITY_CELLS"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Type of cells tested for viability</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VIABILITY_METHOD"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Method used to calculate the viability</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ATT_SEG" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of attached segments available</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DNA_SMPL"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">DNA samples available?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OTH_SMPL"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Samples other than DNA available?</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CT_COMPLETE_DATE"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Date of completion of confirmatory typing (CT)
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CT_SMPL_TYPE"  minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Confirmatory typing (CT) sample type</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AL_RED_BC" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of red cell fraction aliquots</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AL_SER" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of serum aliquots available</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SER_QUANT" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total quantity of serum available in ml</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="AL_PLA" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Number of plasma aliquots available</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="PLA_QUANT" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Total quantity of plasma available in ml</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="MAT" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">Data of the mother of the infant associated with the CBU
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ID" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">Identification used to identify the maternal
                                            donor as assigned by the registry
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="ID_BANK" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">Identification used by associated CBU
                                            manufacturer to identify maternal details
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="HLA" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">HLA genotype</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="hlaType"/>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="IDM" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">Infectious disease markers (IDM) and other
                                            relevant tests
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:complexContent>
                                            <xs:extension base="idmType"/>
                                        </xs:complexContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="AL_SER" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">Number of serum aliquots available
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="SER_QUANT" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">Total quantity of serum available in ml
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="AL_PLA" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">Number of plasma aliquots available
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="PLA_QUANT" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation xml:lang="en">Total quantity of plasma available in ml
                                        </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="inventoryType">
        <xs:annotation>
            <xs:documentation xml:lang="en">Type representing an inventory of donors and/or cord blood units (CBUs)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DONOR" type="donItemType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">A donor is an adult person who has consented to donate
                        haematopoietic progenitor cells, that is, HPC(M) or HPC(A) and similar products to an unrelated
                        patient.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CBU" type="cbuItemType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">A cord blood unit (CBU) is a banked, frozen blood product extracted
                        from a newborn baby's umbilical cord.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="LISTING_ORGANIZATION"  use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">Organisation that lists the donor/cbu provided as ION</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="POOL"  use="required">
            <xs:annotation>
                <xs:documentation>Physical location of the donors/CBUs of the inventory provided as ION
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CONTENT_TYPE" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">Type of the inventory items, i.e. donor or CBU</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="UPDATE_MODE"  use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">Update mode of the inventory, i.e. FULL or DIFF</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SNAPSHOT_TIME" type="xs:dateTime" use="optional">
            <xs:annotation>
                <xs:documentation xml:lang="en">Timestamp of the 'data snapshot' (in UTC)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:element name="INVENTORIES">
        <xs:annotation>
            <xs:documentation xml:lang="en">Root element representing a set of inventories</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="INVENTORY" type="inventoryType" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="CREATION_TIME" type="xs:dateTime" use="required">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Creation timestamp of the inventories (in UTC)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
